SELECT count(*) FROM "{{ table }}"
-- ::exceptions::
SELECT {{ key_list }}, count(*) AS occurrences
FROM "{{ table }}"
GROUP BY {{ key_list }}
HAVING count(*) > 1
ORDER BY occurrences DESC, {{ key_list }}
